.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

/* .amplify-heading, .amplify-text{
  //color:black!important;
} */
.App-link {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.hero {
  width: 83%;  
  margin:0 auto;
  display: flex;
  justify-content: space-between;
}

.center-content {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.button {
  text-transform: uppercase;
  color: white;
  padding: 20px;
  border: 1px solid white;
  text-decoration: none;

}

.body-content{
  width:80%;
  margin: 0 auto;
  padding-top: 60px;
}

h1.hero-head{
  font-family: 'Roboto', sans-serif;
  font-size:5.75em;
  line-height: 1.2;
}

/*Logo*/

.logo-wrapper{
  width:83%;
  margin: 0 auto;
  padding-top: 50px;
}

section {
  position: relative;
}

section img {
	position: absolute;
}

.top {
	animation-name: fade;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-direction: alternate;
}

.bottom{
  border:1px solid white;
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}


/* iPhone12 Pro */
@media (max-width: 400px) {
  h1.hero-head{
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 48px;
  }

  .logo-wrapper{    
    margin: 0 auto;
    width:100%;
    margin-left: -25px;
    padding-top: 0px;
    display: inline;
  }
  .hero{
    display:auto
  }

  .navigation-strip{
    display: none;
  }
  .Grid-item {
    margin-top: 20%;
  }
}