
.Grid {
    display: flex;
    flex-wrap: wrap;
  }
  .Grid-item {
    width: 100%;
    margin-top: 2%;
  }
  @media (min-width: 48rem) {
    .Grid-item {
      width: 49%;
    }
    .Grid-item:nth-child(odd) {
      background: black;
      margin-right: 2%;
    }
  }
  @media (min-width: 62rem) {
    .Grid-item {
      width: 47.5%;
    }
    .Grid-item:not(:nth-child(4n)) {
      background: black;
      margin-right: 2%;
    }
  }
  .Grid-item:before {
    content: "";
    float: left;
    padding-top: 100%;
  }
  

  .Grid .Grid-item.grid-item1{
    background: url("./images/costarica.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
  }
  .Grid .Grid-item.grid-item2{
    background: url("./images/tech.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
  }
  .Grid .Grid-item.grid-item3{
    background: url("./images/window.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
  }
  .Grid .Grid-item.grid-item4{
    background: url("./images/edge.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
  }

  .overlayBlock {

    display: block;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    margin-top: 100%;
    margin-bottom:10px;
    margin-left: 10px;
  }

  .tag{
    display: inline-block;
    margin-top: 0.5rem;
    margin-right: 0.5em;
    margin-bottom: 0;
    padding: 2px 10px;
    border: 1px #ff6914;
    border-radius: 7.5px;
    background-color: hsla(0,0%,96.1%,.2);
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
  }

  .grid img{
    /* //height: 70px; */
    aspect-ratio: 3/2;
    object-fit: contain;
    mix-blend-mode: color-burn;

  }